{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
	<div class="title" style="padding-bottom: 10px;font-family: 'Lobster Two', cursive;">
		<h1 style="font-family: 'Lobster Two', cursive;">Student Leave Management System</h1>
	</div>

	<nav class="navbar navbar-dark bg-dark">
  		<div class="container-fluid" >
    		<div class="navbar-header">
      			<a class="navbar-brand" style='font-family:"Lucida Console", Courier, monospace;'>SLMS</a>
    		</div>
    			<ul class="nav navbar-nav">
      				<a href="#" class="btn btn-info btn-mg">
          <span class="glyphicon glyphicon-home"></span> Home
        </a>
    			</ul>
          {% comment %} <ul>
      				<span style='font-family:sans-serif;color:orange;font-size:20px'>
          {{user}}</span>&nbsp {% endcomment %}
      			<a class="navbar-brand">{{user}}</a>
    				<a href="/logout" class="btn btn-info btn-mg" style="position:relative;margin-left:20px">
          <span class="glyphicon glyphicon-log-out"></span> Log out</a>
        {% comment %} </a></ul> {% endcomment %}
      </p> 
  			</div>
	</nav>

	<p style='font-size:20px;padding-left:10%'><b>Leaves:</b></p>

	<div class="center" style="padding-top: 20px;">
  			            
  		<table class="table table-striped">
  			<thead>
      			<tr>
              <th>S.no</th>
			  <th>Id no.</th>
        			<th>Reason</th>
              <th>Description</th>
              <th>Out date </th>
              <th>In date</th>
        			<th>Proof</th>
        			<th>Action</th>
        			<th>Action</th>
					<th>Remark</th>
      			</tr>
    		</thead>
    		<tbody class="actions">
        {% for l in leaves %}
      			<tr>
              <td style='width:10px'>{{forloop.counter}}</td>
			  <td>{{l.user.uid}}</td>
        			<td><b>{{l.reason}}</b></td>
              <td id='reason'><a href='#'>{{l.description|truncatechars:70}}<span>{{l.description}}</span></a></td>
              <td>{{l.out_date|date:'M d(D),Y'}}</td>
              <td>{{l.in_date|date:'M d(D),Y'}}</td>
        			<td>{% if l.proof %}<a href="{{ l.proof.url}}" target='_blank'>View</a>{% endif %}</td>
        			<td id="Accept"><a href="{% url 'approve' l.pk %}">Accept</td>
        			<td id="Reject"><a href="{% url 'reject' l.pk %}">Reject</td>
				<td>{{l.remark}}</td>
      			</tr>
      		
      {% endfor %}
		</table>
	</div>
<p style='font-size:20px;padding :1% 0% 0.5% 10%;'><b>Outings:</b></p>

	<div class="center" style="padding-top: 20px;">
  			            
  		<table class="table table-striped">
  			<thead>
      			<tr>
              <th>S.no</th>
			  <th>Id no.</th>
        	  <th>Reason</th>
        		<th>Date</th>
              <th>Out time</th>
              <th>In time</th>
        		<th>Action</th>
        		<th>Action</th>
				<th>Remark</th>
      			</tr>
    		</thead>
    		<tbody class="actions">
			
			</tbody>
      		
		</table>
	</div>
{%endblock%}
